*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    font-size:100%;
    background:none;
    transition:0.5s;

}
html, body {
    width:100%;
    box-sizing: border-box;
}

body {
  /*padding-top: 70px;*/
    padding: 1em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    background: #222;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /*min-width: 900px;*/
}
h1 {
    line-height: 1em;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: none;
}
li {
    list-style: none;
}

 .navbar-default {
    background-color: cadetblue;
    border-color: #1b6d85;
}
.navbar-default .navbar-brand{
    font-size: large;
    font-weight: 600;
    color:blanchedalmond;
}
.navbar-default .navbar-nav > .active > a{
    /*color:aliceblue;*/
    background-color: #1b6d85;
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a:hover{
    /*background-color: #2b98f3;*/
    background-color: #1b6d90;

    text-decoration: none;
}

.panel-success  {
    border-color:#1b6d85;
    color: #0f0f0f;
}
.panel-success .panel-heading{
    background-color:cadetblue;
    color:beige;;

}


hr{
    border-top-color: #1b6d85;
}
.page-header {
    border-bottom-color: #1b6d85;
}
#contacts-grid{
    margin: 2%;
    background-color: cadetblue;
    /*max-width: 900px;*/
}
.k-header{
    /*background-color: cadetblue;*/

}
.k-grid tbody .k-button {
    min-width: 100px;
    width: 100px;}
.k-grid-header .k-filter-row{
/*background-color: #1b6d85;*/
}

/*profile*/
#profile {
    /*position: relative;*/
}

.ra-well-title {
    font-size: 1.2857em;
    line-height: 1.2857em;
    border-bottom: 1px solid #e7e7e7;
    margin: -5px -19px 0.8333em;
    padding: 0 19px 0.7222em;
}

.ra-avatar {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

.ra-name , .ra-birthday ,.ra-gender {
    display: block;
    margin-top: 0.8571em;
}


/*footer Socail btns */
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}

#social-em:hover {
    color: #f39c12;
}