<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Add new profile</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form id="register_form" name="register_form" ng-submit="saveContact(contact)" >
      <!--<div class="form-horizontal">-->
        <div class="form-group">
          <label for="fname">Full Name</label>
          <input id="fname" class="form-control" type="text" ng-model="contact.fullName" required ng-required="true" >
          <!--<p ng-show="register_form.fname.$invalid && !register_form.fname.$pristine" class="help-block">You name is required.</p>-->
        </div>
        <div class="form-group">
          <label for="fburl">Facebook profile url </label>
          <input id="fburl" class="form-control" type="text" ng-model="contact.facebookURL" required>
        </div>
        <div class="form-group">
          <label for="fbid">Facebook profile ID </label>
          <input id="fbid" class="form-control" type="number" ng-model="contact.facebookID" required>
        </div>
        <!--<div class="form-group">-->
          <!--<label for="email">Email</label>-->
          <!--<input id="email" class="form-control" type="text" ng-model="contact.email" placeholder="Email"  required>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="mobile">Mobile</label>-->
          <!--<input type="tel" class="form-control" id="mobile" name="mobile"  placeholder="059 *-***-***" ng-model="contact.mobile">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="adrr">Address</label>-->
          <!--<input id="adrr" class="form-control" type="text" ng-model="contact.address">-->
        <!--</div>-->

        <button  type="submit" class="btn btn-default" >Save</button>
        <!--<button  type="button" class="btn btn-default" ng-click="saveContact(contact)">Save</button>-->
        <button  type="button" class="btn btn-default" ng-click="back()">Back</button>

      <!--</div>-->
      </form>

    </div>
  </div>
</div>


