<div class = "row">
    <div class="col-md-6">
        <h2>
            {{response.name }}
        </h2>
    </div>
    <div class="col-md-3">
        <img ng-if="response.picture" src="{{response.picture}}">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
    </div>
</div>
<div  class="container">
    <div>
        <p ng-if="response.name">name:{{ response.name }}</p>
        <p ng-if="response.birthday">birthday : {{ response.birthday }} </p>
        <p ng-if="response.gender"> gender: {{ response.gender }} </p>
        <p ng-if="response.work"> work: {{ response.work }} </p>
        <p ng-if="response.education"> education: {{ response.education }} </p>
        <p ng-if="response.picture"> profile pic: {{response.profile }} </p>
        <p ng-if="response.picture.data.url"> profile pic: {{response.picture.data.url }} </p>

        <p>
            <a class="btn btn-default" href=index.html#!/">Back</a>
        </p>
    </div>
</div>
