



<div class = "row">
    <div class="col-xs-12 " >
        <a class="btn btn-default pull-right" style="margin-bottom: 2%" href=index.html#!/">Back</a></p>
    </div>
</div>
<div class="row ">

<div class="panel panel-success ">
    <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <section id="profile" class="well">
                    <div class="row">
                        <div class="col-lg-5 col-sm-2">
                            <img ng-if="response.picture"  src="{{response.picture }}" class="ra-avatar img-responsive" />
                        </div>
                        <div class="col-lg-7 col-sm-2">
                            <span  ng-if="response.name" > name:{{ response.name }}</span>
                            <span  ng-if="response.gender" > gender: {{ response.gender }}</span>
                            <span ng-if="response.birthday"> birthday : {{ response.birthday }}</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


</div>
<div class="row">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <h3 class="panel-title">Education</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>

    </div>

</div>
<div class="row">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <h3 class="panel-title">Work history</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>

    </div>

</div>
