<script src="/js/fblogin.js"></script>

<div class = "row">
  <div class="col-md-6">
    <h2>
      Users
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" href="index.html#!/new/contact">New</a>

  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy:'fullName'" style="cursor:pointer">
        <td>
          <a ng-href="index.html#!/contact/{{contact._id}}">{{ contact.fullName}}</a>
        </td>
        <td>
          <p ng-hide="editMode">
            <button  class="btn btn-default" ng-click="toggleEdit()">Edit</button>
            <a href="index.html#!/">
              <button  class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
          </p>

        </td>
        <td>
            <fb:login-button scope="public_profile,email,user_work_history,user_about_me,user_birthday,user_education_history" onlogin="checkLoginState();">
          </fb:login-button>
          <div id="status">
          </div></td>
      </tr>
    </tbody>
  </table>

</div>

<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "https://api.mlab.com/api/1/databases/fb_profile_viewer_db/collections/contacts?apiKey=hoKcMVDx6ezkYACMw2sveutGpmVadzdF",
                        dataType: "json"
                    },

                    pageSize: 20
                },
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    template:
                    "<div class='contact-name'>#: ContactName #</div>",
                    field: "fullName",
                    title: "Contact Name",
                    width: 240
                }, {
                    field: "facebookURL",
                    title: "Facebook profile URL"
                }, {
                    field: "facebookID",
                    title: "Facebook ID"
                }
                ]
            });
        });
    </script>
</div>


