<script src="/js/fblogin.js"></script>
<div class = "row">
  <div class="col-md-6">
    <h2>
      Users
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" href="index.html#!/new/contact">New</a>
      <fb:login-button scope="public_profile,email,user_work_history,user_about_me,user_birthday,user_education_history"
                       onlogin="checkLoginState();">
      </fb:login-button>
      <div id="status">
      </div>

  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
      <table id="UserList"  cellspacing="0" width="100%" class="table table-hover">
          <thead></thead>
        <tbody>
                <tr ng-repeat="contact in contacts | orderBy:'fullName'" style="cursor:pointer">
                    <td>
                      <a ng-href="index.html#!/contact/{{contact._id}}">{{ contact.fullName}}</a>
                    </td>
                    <td>
                  <p>
                        <a href="index.html#!/">
                          <button  class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
                      </p>
                    </td>
              </tr>
        </tbody>
      </table>
</div>


<!--<script>-->

    <!--$(document).ready(function() {-->
        <!--$('#UserList').DataTable({-->
            <!--"lengthChange": false-->
        <!--});-->
    <!--} );-->
<!--</script>-->


<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "https://api.mlab.com/api/1/databases/fb_profile_viewer_db/collections/contacts?f={%22_id%22:1,%22fullName%22:1,%22facebookID%22:1,%22facebookURL%22:1}&apiKey=hoKcMVDx6ezkYACMw2sveutGpmVadzdF",
                            dataType: "json"
                        },
                        create: {
                           // url:"" ,
//                        dataType: "jsonp"
                        },
                        parameterMap: function(options, operation) {
                            if (operation !== "read" && options.models) {
                                return {models: kendo.stringify(options.models)};
                            }
                        }
                    },

                    batch: true,
                    pageSize: 6,
                    schema: {
                        model: {
                            id: "_id.$oid",
                            fields: {
                                "_id.$oid": { editable: false, nullable: true },
                                fullName: { defaultValue: 'Name',
                                    validation: { required: true } },
                                facebookURL: { defaultValue:'facebook.com', validation: { required: true} },
                                facebookID: {  type: "number", defaultValue:0,validation: { min: 0, required: true }
                                }

                            }
                        }
                    }
                },
                sortable: true,
                pageable: {
//                    refresh: true,
                    pageSizes: true,
                    buttonCount: 3
                },
                toolbar: ["create"],
                columns: [
//                    {
//                        field: ["_id.$oid"],
//                        title: "ID",
//                        width: 240
//
//                    },
                    {
                    template:"<a href='index.html%23!/login'>#: fullName #</a>",
                     field: "fullName",
                    title: "Contact Name",
                    width: 240

                }, {
                    template:"<a href='#: facebookURL #'  target='_blank'> #: facebookURL # </a>",
                    field: "facebookURL",
                    title: "Facebook profile URL"
                }, {
                    field: "facebookID",
                    title: "Facebook ID"
                } ,{
                        command: ["edit", "destroy"], title: "&nbsp;", width: "250px"
                }],
                    editable: "inline"
            });
        });
    </script>
</div>


